
#ignore virtual environment
venv
#log files
run

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#tmp models.py ignore
#models.py
howto.md

#emacs 
*~

Flask Folder

web/backend/include/
*.Python

.DS_Store

# Data files
data/rebalancing_trips_2_2012_to_3_2013.csv
data/rebalancing_trips_2_2012_to_3_2013_sample.csv

web/config.py

#venv
web/venv/
#pickes, ignore
web/static/pickles