<!DOCTYPE html>
<html>
<head>
  <title>Bike Share Program</title>
      <!-- data-main attribute tells require.js to load
           scripts/main.js after require.js loads. 
      <script data-main="scripts/main" src="../static/scripts/require.js"></script>
    -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../static/css/custom.css" rel="stylesheet" media="screen">

    <!-- <link href="../static/css/bootstrap-responsive.css" rel="stylesheet" media="screen"> -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>

    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/base/jquery-ui.css" type="text/css" media="all" />

    <!-- MapBox -->
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.css' rel='stylesheet' />
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.js'></script>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
    
    {% block head %}{% endblock %}

  </head>
  <body>
  	<div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Bikeshare</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/map">Map View</a></li>
              <li><a href="/table">Table View</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% block content %}{% endblock %}
  </body>
  </html>    