{% extends "layout.html" %}
{% block head %}


{% endblock %}

{% block content %}
  <div id="slider"></div>
  <div id="time">Mins From Now: 0</div>

  <div class="container-fluid container-no-padding full-height">
    <div class="row-fluid full-height">

      <div id='map' class='dark full-height'></div>
      <script type='text/javascript'>

      window.prediction_time = "0";

      $("#slider").slider({
        value:0,
        min: 0,
        max: 4*60,
        step: 15,
        slide: function( event, ui ) {
          window.prediction_time  = ui.value.toString();
          $( "#time" ).text( "Mins From Now: " + ui.value );
          updateMarkerColors();

        }
      });
      
      function updateMarkerColors(){
        json = map.markerLayer.getGeoJSON();

        function rgbToHex(r, g, b) {
          function componentToHex(c) {
            var hex = c.toString(16);
            return hex.length == 1 ? "0" + hex : hex;
          };
          return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
        };

        // Setting the color, maybe this can be handled server side?
        for (index = 0; index < json.features.length; index++){

          var percentage_full = parseFloat(json.features[index].properties[window.prediction_time].percentage_full);
          var percentage_empty = parseFloat(json.features[index].properties[window.prediction_time].percentage_empty);

          hex_color = rgbToHex(Math.round(percentage_full*255), 128, Math.round(percentage_empty*255));

          json.features[index].properties['marker-color'] = hex_color;
        }

        map.markerLayer.setGeoJSON(json);        

      };

      // Made TileMap with JSON with Vidhur's account
      var map = L.mapbox.map('map', 'darkzeroman.map-gxrlhgnw');


      $.getJSON("../static/data/fullnewyork.geojson", function(json) {
        var index = 0;

        map.markerLayer.setGeoJSON(json);

        updateMarkerColors();

        // Below are mouseover/mouseout event listeners
        map.markerLayer.on('mouseover', function(e){
          var marker = e.layer, feature = marker.feature;

          var popupContent = String("name") + ' : ' + String(feature.properties["name"]) + ' <br> ';
          popupContent += 'For Time: ' + window.prediction_time + '<br> ';

          for (key_name in feature.properties[window.prediction_time]){
            popupContent += String(key_name) + ' : ' + String(feature.properties[window.prediction_time][key_name]) + '<br> ';
          }
          
          // http://leafletjs.com/reference.html#popup
          marker.bindPopup(popupContent, {
            closeButton: false,
          });

          e.layer.openPopup();
        });

        map.markerLayer.on('mouseout', function(e){
          e.layer.closePopup();
        });

      });

      </script>
    </div>
  </div>

{% endblock %}
