{% extends "layout.html" %}
{% block head %}

{% endblock %}

{% block content %}

  <div class="container-fluid container-no-padding full-height">
    <div class="row-fluid full-height">
      <div id='map' class='dark full-height'></div>
      <script type='text/javascript'>

      
      // Made TileMap with JSON with Vidhur's account
      var map = L.mapbox.map('map', 'darkzeroman.map-gxrlhgnw');



      $.getJSON("../static/data/newyork.geojson", function(json) {

        // Setting the color, maybe this can be handled server side?
        for (var index in json.features){
          json.features[index].properties['marker-color'] = '#abc';
        }

        map.markerLayer.setGeoJSON(json);

        // Below are mouseover/mouseout event listeners
        map.markerLayer.on('mouseover', function(e){
          var marker = e.layer, feature = marker.feature;

          var popupContent = "";
          for (key_name in feature.properties){
            popupContent += String(key_name) + ' : ' + String(feature.properties[key_name]) + '<br> ';
          }

          // http://leafletjs.com/reference.html#popup
          marker.bindPopup(popupContent, {
            closeButton: false,
          });

          e.layer.openPopup();
        });

        map.markerLayer.on('mouseout', function(e){
          e.layer.closePopup();
        });

      });

      </script>
    </div>
  </div>

{% endblock %}
