html,body {height:100%;}

.container-no-padding{
  padding-right: 0px;
  padding-left: 0px;
}

.full-height {
  min-height: 100%;
  height: 100%;
}

#slider {
  position: absolute;
  width: 500px;
  left: 50%;
  top: 60px;
  margin-left: -250px;
  z-index: 9999;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: black;
}

#time {
  position: absolute;
  width: 150px;
  left: 10%;
  top: 50px;
  font-weight: bolder;
  z-index: 9999;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  text-align: center
}

