PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=owens.hunter@gmail.com
HOME=/

# run-parts
* * * * * /home/ec2-user/bikeshare/scrapers/v1/update_script.sh
* * * * * /home/ec2-user/bikeshare/scrapers/v2/update_script.sh
