{% extends "layout.html" %}
{% block body %}

  <div class="container">
    <div class="row">
      <br>

      <div id='map' class='span12 dark' style="width: 100%; height: 600px"></div>
      <script type='text/javascript'>
      var map = L.mapbox.map('map', 'darkzeroman.map-gxrlhgnw');

      $.getJSON("../static/data/newyork.geojson", function(json) {

        map.markerLayer.setGeoJSON(json);

        map.markerLayer.on('mouseover', function(e){
          var marker = e.layer, feature = marker.feature;

          var popupContent = "";
          for (key_name in feature.properties){
            popupContent += String(key_name) + ' : ' + String(feature.properties[key_name]) + '<br>';

          }

          // http://leafletjs.com/reference.html#popup
          marker.bindPopup(popupContent, {
            closeButton: false,
          });

          e.layer.openPopup();
        });

        map.markerLayer.on('mouseout', function(e){
          e.layer.closePopup();
        });

      });

      
      

      </script>
    </div>
  </div>

{% endblock %}
